<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		Home
	</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<script type="text/javascript" src="js/jquery-3.4.1.js"></script>
</head>
<body>
	<div class="navbar">
		<a class="navbar-button" href="index.html">Home</a>
		<a class="navbar-button" href="math.html">Math Stuff</a>
		<a class="navbar-button" href="movies.html">Movies</a>
		<a class="navbar-button" href="food.html">Food</a>
	</div>
	<div id="main">
		<div id = "content">
			<h2 class="title">
				About Me
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, augue a convallis bibendum, nisi dui ornare urna, vitae euismod orci dolor quis nibh. Mauris sodales convallis tellus	. Morbi congue accumsan iaculis. Praesent in varius ante. In imperdiet ex at libero ornare imperdiet. Donec id velit dapibus, eleifend velit sed, ultrices tellus. Quisque ipsum tortor, aliquet sed porttitor non, aliquam id libero.
			</p>
			<h2 class="title">
				Education
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, augue a convallis bibendum, nisi dui ornare urna, vitae euismod orci dolor quis nibh. Mauris sodales convallis tellus	. Morbi congue accumsan iaculis. Praesent in varius ante. In imperdiet ex at libero ornare imperdiet. Donec id velit dapibus, eleifend velit sed, ultrices tellus. Quisque ipsum tortor, aliquet sed porttitor non, aliquam id libero.
			</p>
			<h2 class="title">
				Current Projects
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, augue a convallis bibendum, nisi dui ornare urna, vitae euismod orci dolor quis nibh. Mauris sodales convallis tellus	. Morbi congue accumsan iaculis. Praesent in varius ante. In imperdiet ex at libero ornare imperdiet. Donec id velit dapibus, eleifend velit sed, ultrices tellus. Quisque ipsum tortor, aliquet sed porttitor non, aliquam id libero.
			</p>
			<h2 class="title">
				Contact
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, augue a convallis bibendum, nisi dui ornare urna, vitae euismod orci dolor quis nibh. Mauris sodales convallis tellus	. Morbi congue accumsan iaculis. Praesent in varius ante. In imperdiet ex at libero ornare imperdiet. Donec id velit dapibus, eleifend velit sed, ultrices tellus. Quisque ipsum tortor, aliquet sed porttitor non, aliquam id libero.
			</p>
		</div>
	</div>
</body>
</html>